.grillaEvoluciones{
    width: 24.5em;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-left: 2.8em;
}
.fecha{
    margin-left: 2em;
}
.emisionTotal{
    margin-left: 9em;
}