@import "./layout.css";

.registro{
    text-align: center;
    background-color: white;
    color: #387912;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 2rem;
}

.row{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.nombre{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.apellido{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.tipoDoc{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.nroDocumento{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.username{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.password{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.acciones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.iniciarSesion{
    display: flex;
    padding: 1em;
}

#botonSucces{
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:linear-gradient(to bottom, #90F098 5%, #77a809 100%);
    background-color:#F090B2;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}

#botonSucces:hover {
    background: #77a809 linear-gradient(to bottom, #77a809 5%, #89c403 100%);
}

.registrarse{
    /*padding: 5px 60px;
    color: black;
    font-size: 20px*/
}

.registro{

}

.col-md-6.background-opacity:first-child {
    margin-right: 100px; /* Ajusta la cantidad de separación según sea necesario */
}