{{#partial "titulo"}}Home{{/partial}}
{{#partial "principal"}}


    <body class="body2">
        <div class="background-opacity">
            <h3 class="h3">Facilitamos la movilidad urbana para todos, ofreciendo información actualizada sobre accesibilidad en calles, transporte público y edificaciones.</h3>

        </div>
        <div class="background-opacity2">
            <h3></h3>
        </div>

        <div class="background-opacity">
            <h3 class="h3">Transformamos desafíos en soluciones, asegurando que cada rincón de la ciudad sea accesible para personas con movilidad reducida y padres con niños pequeños.</h3>

        </div>
        <div class="background-opacity2">
            <h3></h3>
        </div>

        <div class="background-opacity">
            <h3 class="h3">Nuestra misión es crear una experiencia urbana inclusiva, brindando detalles precisos sobre la accesibilidad en tiempo real, para que nadie se vea sorprendido al enfrentar obstáculos inesperados.</h3>
        </div>
    </body>



{{/partial}}
{{>templates/layout.html}}