{{#partial "titulo"}}Miembros{{/partial}}
{{#partial "principal"}}
<html>
<head>
    <meta charset = "UTF-8">
</head>

<body>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Comunidad</th>
        </tr>
            {{#each miembro}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{this.comunidad.nombre}}</td>
            <td> <a href="/miembro/{{miembroId}}"> ir </td>
        </tr>
            {{/each}}
    </table>
</body>
</html>
{{/partial}}
{{>templates/layout.html}}