<html>
<head>
    <meta charset = "UTF-8">
</head>

<a href="/miembro">Volver a tabla de miembros</a>

<table>
    <tr>
        <td>Nombre</td>
        <td>{{miembro.nombre}}</td>
    </tr>

    <tr>
        <td>Comunidad</td>
        <td>{{miembro.comunidad.nombre}}</td>
    </tr>
</table>

</html>